.container-fluid {
  text-align: center;
  padding: 1rem;
  justify-content: center;
  display: flex;
}

.mat-icon {
  vertical-align: middle;
}
.login-container {
  margin-top: 50px;
}
.login-form {
  padding: 2%;
  width: 50%;;
}
.login-container form {
  padding: 3%;
}

.mat-card-title{
  font-weight: bold;
}