<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{title}}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand" routerLink="/orders" translate>APP_NAME</a>
    <button mat-button routerLink="/orders" routerLinkActive="active">
      <span translate>Orders</span>
    </button>
    <button mat-button routerLink="/login" routerLinkActive="active">
      <span translate>Login</span>
    </button>
  </div>
  <span fxFlex></span>
</mat-toolbar>
